/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE 0

/ {

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow mods";
            #binding-cells = <2>;
            tapping_term_ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

        keymap {
                compatible = "zmk,keymap";

                base_layer {
                        bindings = <
  &none &kp J      &kp K       &kp M         &kp F        &kp V           &kp QMARK  &kp DOT  &kp COMMA  &kp APOS  &kp SQT &none
  &none &hm LGUI R &hm LALT S  &hm LCTRL N   &hm LSHFT T  &kp P           &kp Z      &hm RSHFT A    &hm RCTRL U  &hm RALT O     &hm RGUI I &none
  &none &kp X      &kp G       &kp L         &kp D        &kp B           &kp MINUS  &kp W    &kp H  &kp C     &kp Y &none
        &out OUT_BLE &kp ESC &kp SPACE               &kp E      &kp BSPC  &kp DEL
                        >;
                };
        };
};
